{% extends 'base_navbar.html' %}
{% block head %} 

    
    <link rel="stylesheet" href="../static/img.css" />
    <link rel = "stylesheet" href = "../static/table.css">
    <title>Utilizatori si Clienti</title>

{% endblock %}

{% block body %}

    <div>
    <table id = 'userClient'>
        <thead>
        <tr>
          
           {% for column in header %}
              <th scope="col" >{{ column }}</th>

           {%endfor%}
          
        </tr>
      </thead>
      <tbody>

        {% for row in data %}
        <tr>

              {% for column in header %}
              {% with my_variable = column %}
              <td  > 
                {% if my_variable != 'Stergere' %}
                    {% if row[my_variable] %}
                    {{ row[my_variable] }}
                    {% else %}
                        -
                    {% endif %}
                {%else%}
                    <a href = 'delete_user{{row['UtilizatorID']}}' id = {{ row['UtilizatorID'] }}> X </a>
                {%endif%}
               </td>
              {% endwith %}
              {%endfor%}
        
         </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}






